@charset "utf-8";
/* CSS Document */

@import url("animations.css");

body {

    background-color: #36393F;
    background-image: linear-gradient(222deg, #15161A, #242B2C);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    text-align: left;
    color: #eee;
    text-shadow: 0px 0px 1px #000, 1px 1px 2px #000;
    margin: 5px 30px;
}

h1 {
    font-size: 30pt;
}

a {
    text-decoration: none;
    color: #eee;
    text-shadow: 1px 1px 1px #000;
}

a:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
    animation-name: linkHover;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.supportLinks {
    display: inline-block;
    font-size: 25pt;
    margin-left: 10px;
    margin-bottom: 5px;
}

.goog-te-banner-frame.skiptranslate {
    display: none;
}
