@charset "utf-8";
/* CSS Document */

body {
    background: #242B2C;
    color: #EEE;
    margin: 5px 30px;
}

h1 {
    font-size: 30pt;
}

a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    color: darkslategrey;
}

.supportLinks {
    color: #eee;
    display: inline-block;
    font-size: 25pt;
    margin-left: 10px;
    margin-bottom: 5px;
}

.supportLinks:hover {
    color: darkslategrey;
}
