
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(88691983, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/88691983" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Google Translate -->

        <div id="googleTranslateElement"></div>
        <script type="text/javascript" defer>

            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    {pageLanguage: "ru"},
                    "googleTranslateElement"
                );
            };

        </script>
        <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>


    <!-- /Google Translate -->
